body {
    background-color: #1b1924;
}
body {
    -webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
}
body {
    margin: 0;
    padding: 0;
    background: #f7f8f2;
    font-family: Overpass,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    display: block;
    margin: 8px;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background: #4adada;
    color: #1b1924;
}
body.loader #hero {
    background: rgba(27,25,36,.2);
}
@media only screen and (min-height: 500px){#hero {height: 100vh;}}
#hero {
    height: 500px;
    background: #1b1924;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    overflow: hidden;
    position: relative;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

element.style {
    opacity: 1;
}
@media print, screen and (min-width: 37.5em)
{
body.loaded #hero #video-background {
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    -ms-transform: translateX(-50%) translateY(50%);
    -o-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
}
}
@media print, screen and (min-width: 37.5em){
#hero #video-background.loaded {
    -webkit-transform: translateX(-50%) translateY(50%) scale(1);
    -moz-transform: translateX(-50%) translateY(50%) scale(1);
    -ms-transform: translateX(-50%) translateY(50%) scale(1);
    -o-transform: translateX(-50%) translateY(50%) scale(1);
    transform: translateX(-50%) translateY(50%) scale(1);
}}
#hero #video-background.loaded {
    opacity: 1;
    -webkit-transform: translateX(-55%) translateY(0) scale(1);
    -moz-transform: translateX(-55%) translateY(0) scale(1);
    -ms-transform: translateX(-55%) translateY(0) scale(1);
    -o-transform: translateX(-55%) translateY(0) scale(1);
    transform: translateX(-55%) translateY(0) scale(1);
}

@media print, screen and (min-width: 37.5em){
#hero #video-background {
    height: auto;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%) scale(1.05);
    -moz-transform: translateX(-50%) translateY(50%) scale(1.05);
    -ms-transform: translateX(-50%) translateY(50%) scale(1.05);
    -o-transform: translateX(-50%) translateY(50%) scale(1.05);
    transform: translateX(-50%) translateY(50%) scale(1.05);
}}
#hero #video-background {
    position: absolute;
    bottom: 0;
    left: 55%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    z-index: -100;
    margin: auto;
    -webkit-transform: translateX(-55%) translateY(0) scale(1.05);
    -moz-transform: translateX(-55%) translateY(0) scale(1.05);
    -ms-transform: translateX(-55%) translateY(0) scale(1.05);
    -o-transform: translateX(-55%) translateY(0) scale(1.05);
    transform: translateX(-55%) translateY(0) scale(1.05);
}
audio, video {
    display: inline-block;
}
#hero .container {
    overflow: hidden;
}
@media screen and (max-width: 62.4375em)
{
.container {
    padding: 0 40px;
}
}
.container {
    padding: 0 60px;
}
@media screen and (max-width: 62.4375em){
#hero .top-bar {
    padding-top: 40px;
}
}
.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
body.loaded .load .logo {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    transition-delay: 50ms;
}
body.loaded .load>* {
    -webkit-transition: opacity 1s cubic-bezier(.215,.61,.355,1) 50ms,-webkit-transform 1s cubic-bezier(.215,.61,.355,1) 50ms;
    -moz-transition: opacity 1s cubic-bezier(.215,.61,.355,1) 50ms,-moz-transform 1s cubic-bezier(.215,.61,.355,1) 50ms;
    transition: opacity 1s cubic-bezier(.215,.61,.355,1) 50ms,-webkit-transform 1s cubic-bezier(.215,.61,.355,1) 50ms;
    transition: opacity 1s cubic-bezier(.215,.61,.355,1) 50ms,transform 1s cubic-bezier(.215,.61,.355,1) 50ms;
    transition: opacity 1s cubic-bezier(.215,.61,.355,1) 50ms,transform 1s cubic-bezier(.215,.61,.355,1) 50ms,-webkit-transform 1s cubic-bezier(.215,.61,.355,1) 50ms;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.load>* {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
}
@media print, screen and (min-width: 37.5em){
.medium-4 {
    /* -webkit-box-flex: 0; */
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}}

.small-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.column, .columns {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-right: .625rem;
    padding-left: .625rem;
    min-width: 0;
}
@media print, screen and (min-width: 37.5em){
.column, .columns {
    padding-right: .9375rem;
    padding-left: .9375rem;
}}

#hero .top-bar .logo img {
    width: 45px;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
img {
    border-style: none;
}
@media screen and (max-width: 62.4375em){
#hero .top-bar .contact-us {
    text-align: right;
}}
body.loaded .load .contact-us {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}
.align-self-middle {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
@media print, screen and (min-width: 37.5em){
.medium-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}}
.small-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

@media screen and (max-width: 62.4375em){
#hero a.hero-link:first-child {
    margin-left: 0;
}}
@media screen and (max-width: 62.4375em){
#hero a.hero-link {
    margin-right: 0;
    margin-left: 20px;
}}
#hero a.hero-link {
    font-family: essonnes-display,serif;
    font-weight: 400;
    font-style: normal;
    color: #f66;
    font-size: 1.25em;
    position: relative;
    margin-right: 30px;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
a {
    line-height: inherit;
    color: #4adada;
    text-decoration: none;
    cursor: pointer;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#hero .intro-copy {
    height: 80vh;
}
.align-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
@media print, screen and (min-width: 37.5em){
.medium-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}}
.small-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
#hero h1 {
    font-family: essonnes-display,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.6875em;
    color: #4adada;
    line-height: 1em;
    margin-bottom: 35px;
    margin-top: 5vh;
    margin-left: -3px;
}
body.loaded .load h1 {
    -webkit-transition-delay: .35s;
    -moz-transition-delay: .35s;
    transition-delay: .35s;
}
h1 {
    font-family: essonnes-display,serif;
    font-weight:400;
}
.h1, h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Overpass,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility;
}
#hero p {
    font-family: Overpass,Helvetica,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #e6e6e6;
    font-size: 1.25em;
    line-height: 1.75em;
    max-width: 400px;
}
body.loaded .load p {
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    transition-delay: .6s;
}